django
gunicorn
whitenoise
psycopg2-binary
requests
urllib3
django-environ
django-cors-headers
coverage
dj_database_url
django-silk
django-tailwind
python-dotenv
djangorestframework-simplejwt
djangorestframework
django-filter
selenium
webdriver-manager
django-components
PyJWT
pytest
python-cas 
django-cas-ng